<!--  Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license.
        See LICENSE in the source repository root for complete license information. -->
        
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Microsoft Graph Connect</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/1.0/fabric.css">
    <link rel="stylesheet" href="https://appsforoffice.microsoft.com/fabric/1.0/fabric.components.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>